name: Build WebRTC Android AAR

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build WebRTC Android AAR
        uses: bentleypark/webrtc-android-builder@v1.3.0
        with:
          # ŞİMDİLİK M136 LEGACY BRANCH'İ KULLANALIM (senin şu anki prod branch'inle aynı)
          webrtc_branch: 'branch-heads/7103'
          # ARCH'LERİ BURAYA SABİT YAZIYORUZ
          target_arch: 'armeabi-v7a,arm64-v8a'
